:root {
  --color-overlay: rgba(0, 0, 0, 0.4);

  --color-white: #fff;
  --color-black: #000;
  --rgb--primary: 250, 54, 10;
  --color-gray: rgb(156, 155, 155);
  --color-primary--rgb: 250, 54, 10;
  --h1-font-family: inherit;
  --h2-font-family: inherit;
  --h3-font-family: inherit;
  --h4-font-family: inherit;
  --h5-font-family: inherit;
  --h6-font-family: inherit;
  --menu-font-family: "Barlow", sans-serif;
  --title-font-family: "Barlow", sans-serif;
  --body-font-family: "Roboto", sans-serif;
  --btn-font-family: "Barlow", sans-serif;
  --subtitle-font-family: "Roboto", sans-serif;
  --plain-text-font-family: inherit;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --p-color: #646464;
  --title-color: #1f1f1f;
  --input-color: #727679;
  --gradient-color: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.py-60 {
  padding: 60px 0;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}


body {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #444;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1 {
  font-family: var(--h1-font-family);
}

h2 {
  font-family: var(--h2-font-family);
}

h3 {
  font-family: var(--h3-font-family);
}

h4 {
  font-family: var(--h4-font-family);
}

h5 {
  font-family: var(--h5-font-family);
}

h6 {
  font-family: var(--h6-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000;
}

p {
  margin-bottom: 0;
}

hr {
  width: 35px;
  height: 4px;
  background-color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
}

button,
button:focus,
input:focus {
  outline: none;
  border: none;
}

.container {
  padding: 0 15px;
}

.header-content {
  display: flex;
  justify-content: end;
}

.header-body-item {
  position: relative;
}

.search-block {
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 40px;
  line-height: 40px;
  font-size: 13px;
  cursor: pointer;
  color: var(--color-secondary);
  margin-top: 0px;
}

.search-box {
  position: absolute;
  right: 0;
  top: 36px;
  background: #fff;
  padding: 20px;
  border-top: 3px solid var(--color-primary);
  z-index: 999;
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.search-form {
  background-color: #f5f5f5;
  width: 363px;
  float: right;
  border-radius: 30px;
  position: relative;
}

.search-form input {
  background: #f4f6f9;
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  height: 55px;
  padding: 0 40px 0 25px;
  width: 100%;
  border: none;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border-radius: 30px;
}

.search-form button {
  position: absolute;
  right: 0;
  top: 50%;
  background: 0 0;
  font-size: 16px;
  border: none;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  background: var(--color-primary);
  width: 58px;
  border-radius: 0 30px 30px 0;
  text-align: center;
}

/* ==============================
Resusable Classes
=================================*/

/* ==============================
Resusable Classes
=================================*/

/* ==============================
    Common Styels for 
    Swiper Navigation and Swiper Pagination
=================================*/

.team-swiper {
  padding: 10px 0;
}

.no-slider.swiper-navigation .swiper-button-prev {
  left: 0;
}

.no-slider.swiper-navigation .swiper-button-next {
  right: 0;
}

.no-slider.swiper-navigation {
  margin-top: 40px;
}

.no-slider.swiper-navigation.bottom-position {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.no-slider.swiper-navigation.bottom-position .swiper-button-next,
.no-slider.swiper-navigation.bottom-position .swiper-button-prev {
  position: static;
}

.no-slider .swiper-button-next,
.no-slider .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
  flex-shrink: 0;
}

.no-slider .swiper-button-next:after,
.no-slider .swiper-button-prev:after {
  font-size: 25px;
}

/* Swiper button hover start */

.no-slider .swiper-button-next:hover,
.no-slider .swiper-button-prev:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.no-slider .swiper-pagination {
  position: static;
  width: auto;
  height: 50px;
}

/* Swiper pagination */

.no-slider .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 0;
  background-color: var(--color-primary);
  opacity: 0.4;
  transition: all 0.3s ease;
}

.no-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  width: 40px;
}

.no-slider .swiper-button-next:after,
.no-slider .swiper-button-prev:after {
  display: none;
}

.no-slider .swiper-button-next i,
.no-slider .swiper-button-prev i {
  font-size: 20px;
}

.swiper-navigation.no-nav {
  display: none;
}

/* ==============================
    Subtitle, title, plain text
=================================*/

.ebl-data-blocks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plain_text p {
  color: var(--p-color);
}

/* ==============================
    Blog List
=================================*/

.blog_list .blog_grid {
}

.blog_list .blog_item {
  z-index: 2;
  position: relative;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0.68px 12.982px 29px 0 rgb(0 0 0 / 7%);
  box-shadow: 0.68px 12.982px 29px 0 rgb(0 0 0 / 7%);
  padding: 30px;
  transition: all 0.8s;
  margin-bottom: 30px;
}

.blog_list .blog_img {
  position: relative;
  overflow: hidden;
}

.blog_list .blog_img img {
  width: 100%;
  border-radius: 6px;
  display: block;
  transition: all 0.8s;
}

.blog_list .blog_img:hover .blog-date {
  border-radius: 0 0 0 0;
}

.blog_list .blog_img:hover img {
  transform: scale(1.1);
  border-radius: 6px;
}

.blog_list .blog-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  padding: 10px 20px;
  color: #fff;
  border-radius: 0 0 6px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 999;
}

.blog_list .blog_meta {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.blog_list .blog_meta span {
  color: #797979;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.blog_list .blog_heading {
  margin-top: 10px;
}

.blog_heading h3 {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.32;
}

.blog_heading h3 a {
  color: inherit;
}

.blog_heading h3 a:hover {
  color: var(--color-primary);
}

/* ==============================
    Blog List End
=================================*/

/* ==============================
    About Us 1
=================================*/

.about-us-1 .common-list-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.about-us-1 .common-list-ul li {
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  background: #eff0ef;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.about-us-1 .common-list-ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-primary);
  overflow: hidden;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.about-us-1 .common-list-ul li:hover:before {
  width: 100%;
}

.about-us-1 .common-list-ul li:hover {
  color: var(--color-white);
}

/* ==============================
    About Us 1 End
=================================*/

/* ==============================
    Skills 1 Section
=================================*/

.skills-1 .common-list-ul li {
  margin-bottom: 20px;
}

.skills-1 .progress {
  height: 10px;
}
.skills-1 .progress-bar {
  background-color: var(--color-primary);
}

/* ==============================
    Skills 1 Section End
=================================*/

/* ==============================
    Skills 1 Section
=================================*/

.skills-2 .common-list-ul li {
  margin-bottom: 20px;
}

.skills-2 .progress-bar {
  background-color: var(--color-primary);
}

/* ==============================
    Skills 1 Section End
=================================*/

/* single menu popup css */

.single-menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}

.single-menu-popup-inner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-menu-popup-content {
  max-width: 520px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.popup-close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid black;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.single-menu-img {
  width: 100%;
  height: 240px;
}

.single-menu-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.popup-text-content {
  padding: 20px;
}

.menu-desc {
  color: #000;
  margin-top: 12px;
}

.popup-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.qty-mutation {
  display: flex;
}

.qty-mutation > * {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  border: 1px solid rgb(96, 96, 96);
  border-radius: 5px;
  color: #000;
  font-size: 16px;
}

.qty-mutation .decrement-control {
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.qty-mutation input {
  outline: 0px;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.qty-mutation .increment-control {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btn-cart {
  height: 40px;
  border: none;
  background: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* single menu popup css end */
